@use "module/__vars" as var;
@use "module/__about" as about;
@use "module/__removeLink" as remove;
@use "module/__inlineLay" as layout;
@use "module/__listLink" as list;
@use "module/__button" as btn;

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
}

// HEADER-START
header {
  max-width: 100vw;
  height: 100px;
  background-color: map-get($map: var.$Color, $key: "grey-color");
  nav {
    display: flex;
    justify-content: space-between;
    padding: calc(100px / 4) 25px 0 25px;

    .logo-nav {
      max-width: 120px;
      max-height: 100px;
    }
    ul {
      font-family: var.$main-font;
      font-size: 14px;
      @include list.link();
      margin-left: 35%;
      li {
        padding: 0 50px;
        a {
          color: map-get($map: var.$Color, $key: "blue-color");
        }
      }
    }
    button {
      @include btn.button(40px, 20px, 20px, green-color, blue-color);
      margin-top: calc(10px / 6);
    }
  }
}
// HEADER-END

//MAIN-START
main {
  .main-one {
    display: flex;
    min-height: 135vh;
    .description {
      background-color: map-get($map: var.$Color, $key: "blue-color");

      h1 {
        margin-left: 25px;
        font-family: var.$main-font;
        color: map-get($map: var.$Color, $key: "white-color");
        font-size: 62px;
        font-weight: 200;
        span {
          color: map-get($map: var.$Color, $key: "green-color");
        }
      }
      p {
        font-family: var.$text-font;
        color: map-get($map: var.$Color, $key: "white-color");
        font-size: 23px;
        margin-left: 25px;
        width: 75%;
        line-height: 40px;
      }
    }
    .img-1 {
      max-width: calc(100vw / 2);
      max-height: 135vh;
    }
    button {
      @include btn.button(50px, 45px, 25px, green-color, blue-color);
      margin-top: 25px;
      margin-left: 25px;
      font-weight: 500;
      font-size: medium;
    }
  }

  .main-two {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    p {
      font-family: var.$main-font;
      font-size: 62.668px;
      color: map-get($map: var.$Color, $key: "black-color");
      line-height: 68.9349px;
      vertical-align: baseline;
      font-weight: 400px;
      .color-text {
        color: map-get($map: var.$Color, $key: "green-color");
      }
    }
  }
  .main-tree {
    @include layout.inlineLayout();
    .about-one {
      @include about.aboutComponent(text, blue-color, green-color);
    }
    .about-two {
      @include about.aboutComponent(text, green-color, blue-color);
    }
  }
}
//MAIN-END
