$main-font: "aeonik_pro_trialregular";
$text-font: "freighttext_book";
$Color: (
  "blue-color": #0048ff,
  "grey-color": #f2f2f2,
  "green-color": #3ddda8,
  "white-color": #ffffff,
  "black-color": #1f2816,
  "footer-color": #595959,
);
@mixin inlineLayout {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}
@mixin removeLink($a: false) {
  text-decoration: none;

  @if $a {
    a {
      text-decoration: none;
    }
  }
}

@mixin link($direction: row) {
  display: flex;
  flex-direction: $direction;
  li {
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

@mixin button($height, $weight, $border-radius, $bg, $color-btn) {
  text-align: center;
  height: $height;
  padding: 0 $weight;
  border-radius: $border-radius;
  border: none;
  background-color: map-get($map: $Color, $key: $bg);
  color: map-get($map: $Color, $key: $color-btn);
  cursor: pointer;
}
@mixin aboutComponent($parent, $bg) {
  background-color: map-get($map: $Color, $key: $bg);
  color: map-get($map: $Color, $key: "white-color");
  .#{$parent} {
    margin-left: 25px;
    h2 {
      margin-left: 5px;
      font-family: $main-font;
      font-size: 62.668px;
      font-weight: 400;
      text-decoration: none solid rgb(255, 255, 255);
    }
    p {
      text-indent: 8px;
      max-width: 70%;
      font-family: $text-font;
      font-size: 23.5005px;
      line-height: 37.6008px;
      letter-spacing: 0.25px;
      font-weight: 400;
      text-decoration: none solid rgb(255, 255, 255);
    }
  }
  p {
    font-family: $main-font;
    margin-left: 15px;
    letter-spacing: 0.25px;
    a {
      color: map-get($map: $Color, $key: "white-color");
    }
    @include removeLink(true);
  }
}
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
}

// HEADER-START
header {
  max-width: 100vw;
  height: 100px;
  background-color: map-get($map: $Color, $key: "grey-color");
  nav {
    display: flex;
    justify-content: space-between;
    padding: calc(100px / 4) 25px 0 25px;

    .logo-nav {
      max-width: 120px;
      max-height: 100px;
    }
    ul {
      font-family: $main-font;
      font-size: 14px;
      @include link();
      margin-left: 35%;
      li {
        padding: 0 50px;
        a {
          color: map-get($map: $Color, $key: "blue-color");
        }
      }
    }
    button {
      @include button(40px, 20px, 20px, green-color, blue-color);
      margin-top: calc(10px / 6);
    }
  }
}
// HEADER-END

//MAIN-START
main {
  .main-one {
    display: flex;
    min-height: 135vh;
    .description {
      background-color: map-get($map: $Color, $key: "blue-color");

      h1 {
        margin-left: 25px;
        font-family: $main-font;
        color: map-get($map: $Color, $key: "white-color");
        font-size: 62px;
        font-weight: 200;
        span {
          color: map-get($map: $Color, $key: "green-color");
        }
      }
      p {
        font-family: $text-font;
        color: map-get($map: $Color, $key: "white-color");
        font-size: 23px;
        margin-left: 25px;
        width: 75%;
        line-height: 40px;
      }
    }
    .img-1 {
      max-width: calc(100vw / 2);
      max-height: 135vh;
    }
    button {
      @include button(50px, 45px, 25px, green-color, blue-color);
      margin-top: 25px;
      margin-left: 25px;
      font-weight: 500;
      font-size: medium;
    }
  }

  .main-two {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    p {
      font-family: $main-font;
      font-size: 62.668px;
      color: map-get($map: $Color, $key: "black-color");
      line-height: 68.9349px;
      vertical-align: baseline;
      font-weight: 400px;
      .color-text {
        color: map-get($map: $Color, $key: "green-color");
      }
    }
  }
  .main-tree {
    @include inlineLayout();
    .about-one {
      @include aboutComponent(text, blue-color);
    }
    .about-two {
      @include aboutComponent(text, green-color);
    }
  }
}
//MAIN-END
