$main-font: "aeonik_pro_trialregular";
$text-font: "freighttext_book";
$Color: (
  "blue-color": #0048ff,
  "grey-color": #f2f2f2,
  "green-color": #3ddda8,
  "white-color": #ffffff,
  "black-color": #1f2816,
  "footer-color": #595959,
);
